@import 'variables';

@mixin button-style {
    outline: none;
    border: 0;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 18px;
    display: inline-block;
    box-shadow: 0 12px 12px -10px rgba(0,0,0,.4);
    transition: all ease-in-out 300ms;
    &:hover {
        box-shadow: 0 32px 19px -16px rgba(0,0,0,.2);
        transform: translateY(-3px) scale(1.1);
    }
}