@import 'mixins';
.hr-button-main {
    @include button-style;
    background: $primary;
    color: $white;
    border: 1px solid $primary;
    &:hover {
        background: $white;
        color: $black;
    }
}

.hr-button {
    @include button-style;
    background: $white;
    color: $gray;
    border: 1px solid $primary;
    &:hover {
        background: $primary;
        color: $white;
    }
}

.moving-icon {
    position: relative;
    -webkit-animation: mymove 2s infinite;
    animation: mymove 2s infinite;
    @-webkit-keyframes mymove {
        from {
            left: 0px;
        }
        to {
            left: 40px;
        }
    }
    @keyframes mymove {
        from {
            left: 0px;
        }
        to {
            left: 40px;
        }
    }
}