$primary: #08a191;
$white: #fff;
$black: #000;
$gray: #ddd;

// Margin
.margin-left-16 {
    margin-left: 16px;
}

.margin-right-16 {
    margin-right: 16px;
}

// Padding
.padding-left-0 {
    padding-left: 0 !important;
}

.padding-right-0 {
    padding-right: 0 !important;
}

// Width
.width-180 {
    width: 180px !important;
}
